- require 'zipf'
!!!
%html
  %head
    %title Summary (Session #{session_key})
  %link(rel="stylesheet" type="text/css" href="debug.css")
  %script{:src => "http://postedit.cl.uni-heidelberg.de/js/jquery.min.js"}
  %script{:src => "http://postedit.cl.uni-heidelberg.de/js/jquery.tablesorter.min.js"}
  %script{:src => "http://postedit.cl.uni-heidelberg.de/js/debug.js"}
  %body
    %h1 Summary
    %p.small (Session #{session_key})
    %p Data is shown in the MT system's formatting. BLEU is calculated without smoothing. TER capped at 1.0.
    -if data["source_segments"].size == data["mt_raw"].size
      %table
        %tr
          %td
            #{"#"}
          %td
            %strong Source
          %td
            %strong
              Post-Edit
          %td
            %strong
              Reference
          %td
            %strong
              BLEU
          %td
            %strong
              TER
          %td
            %strong
              MT
          %td
            %strong
              HTER
          %td
            %strong
              Rating
          %td
            %strong
              Key.
          %td
            %strong
              M.a.
          %td
            %strong
              Dur.
          - data["post_edits"].each_with_index do |pe,j|
            %tr
              %td.center #{j+1}.
              %td #{data["source_segments"][j].gsub(/((@@ )|(@@$))/, "")}
              %td #{pe.gsub("@@ ", "")}
              %td #{data["references"][j]}
              %td.center #{bleu_scores[j]}
              %td.center #{ter_scores[j]}
              %td #{data["mt_raw"][j].gsub(/((@@ )|(@@$))/, "")}
              %td.center #{hter_scores[j]}
              %td.center #{data["ratings"][j]}
              %td.center #{data["count_kbd"][j]}
              %td.center #{data["count_click"][j]}
              %td.center #{((data["durations"][j]/1000.0)/60.0).round 1} min [#{((data["durations_rating"][j]/1000.0)/60.0).round 1} min]


